annotated-types==0.8.0
boto3==1.43.89
botocore==1.43.89
dnspython==2.8.0
email-validator==2.3.0
idna==3.19
jmespath==1.1.0
pydantic==2.13.5
pydantic_core==2.46.5
pymongo==4.17.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
s3transfer==0.19.2
six==1.17.0
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.7.0
